rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hogares/{hogarId}/{document=**} {
      allow read, write: if request.auth != null
        && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.hogarId == hogarId;
    }
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
